@page

@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

@model LiveChat.Pages.RoomsModel

@{
    ViewData["Title"] = "Rooms";
}

@section Scripts {
    <script src="~/js/SignalRConn.js"></script>
    <script src="~/js/Index.js"></script>
}


<h1>Pokoje</h1>

@if (SignInManager.IsSignedIn(User))
{
    <p>
        <a asp-page="CreateRoom">Utwórz nowy</a>
    </p>
}
<table class="table">
    <thead>
        <tr>
            <th>
                Nazwa
            </th>
            <th>
                Utworzono
            </th>
            <th>
                Administrator
            </th>
            <th>
            </th>
        </tr>
    </thead>
    <tbody id="roomList">
        @foreach (var item in Model.Room)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.RoomName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Created)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Admin.Email)
                </td>
                <td>
                    <a asp-page="./Room" asp-route-id="@item.ID">
                        @if (SignInManager.IsSignedIn(User))
                        {
                            <span>Dołącz</span>
                        }
                        else
                        {
                            <span>Zobacz</span>
                        }
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>
