@page
@model LiveChat.Pages.RoomsModel

@{
    ViewData["Title"] = "Rooms";
}

<h1>Rooms</h1>

<p>
    <a asp-page="CreateRoom">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Name
            </th>
            <th>
                Created at
            </th>
            <th>
                Created by
            </th>
            <th>
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Room) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.RoomName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Created)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Admin.Email)
            </td>
            <td>
                <a asp-page="./Room" asp-route-id="@item.ID">Join</a>
            </td>
        </tr>
}
    </tbody>
</table>
