@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager


@section Scripts {
    <script src="~/js/chat.js"></script>
}


@if (SignInManager.IsSignedIn(User))
{
    <h2>Chat list</h2>
    <ul>
    </ul>
}

